/* Base CSS */

body {
	background-color: #DDD;
}


.bordercontainer {

	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #888;
	border-radius: 2px;
  	box-shadow: inset 0 0 5px #aaa;

}

.console {
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	margin-bottom: 30px;
}

.console {
	padding-left: 2px;
	padding-right: 2px;
}

.console p {
	margin: 0;
	padding: 3px;
}

.console p:nth-child(even) {
	background-color: #f7f7f7;
}

.console p.debug {
	color: silver;
}
.console p.info {
	color: black;
}
.console p.warning {
	color: orange;
}
.console p.error {
	color: red;
}

#canvasbox {
	border: 1px solid #eee;
	margin: 10px;
}